@import "bootstrap.scss";

$color-blue-baby: #cbe1ea;
$color-blue-light: #f8fcfc;
$color-blue: #298399;
$color-gray-light: #ccc;
$color-gray: #222;
$color-green-light: #ddee99;
$color-yellow-light: #ffffcc;
$color-penguin-blue: #0f4d92;
$color-penguin-yellow: #ffd700;

$color-white: #EDF7F2;
$color-green1: #ddee99;
$color-yellow: #FFFFA6;
$color-blue1: #2F2933;
$color-blue2: #01A2A6;
$color-blue3: #29D9C2;

$hero-color: $color-green-light;
$hero-button-color: #F7F7F7;
$hero-button-color-hover: #FFF;

$footer-bottom-color: $color-gray;

.ocf-lab {
  background-color: $color-blue1;
  color: white;

  padding: 20px;

  h2, h3 {
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 10px;

  }

  h2 {
    margin-top: 15px;
    font-size: 32px;

    @media (max-width: 767px) {
      font-size: 18px;
    }
  }
  h3 {
    font-size: 22px;

    @media (max-width: 767px) {
      font-size: 16px;
    }
  }
  a { color: #b4ffff; }
  p {
    font-size: 18px;
    margin-top: 0px;
    margin-bottom: 10px;
    @media (max-width: 767px) {
      font-size: 14px;
    }
  }

  img {
    width: 100%;
  }
}

.ocf-first {
  padding: 15px 0;
  background-color: $color-blue1;
  color: white;

  .ocf-rsvp a {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    font-size: 24px;
    font-weight: bold;
    background-color: $color-white;
    color: $color-blue1;

    @media (max-width: 767px) {
      font-size: 14px;
    }
  }

  h2 {
    font-size: 38px;
    margin-bottom: 10px;
    font-weight: bold;
    @media (max-width: 767px) {
      font-size: 24px;
      margin-bottom: 5px;
    }
  }

  h3 {
    font-size: 24px;
    margin-bottom: 15px;
    font-weight: bold;
    @media (max-width: 767px) {
      font-size: 18px;
    }
  }

  p {
    font-size: 18px;
    margin-bottom: 20px;
  }
}

.ocf-please {
  padding: 15px 0;
  background-color: $color-blue2;
  color: white;

  h2 {
    font-size: 38px;
    margin-bottom: 15px;
    font-weight: bold;
    text-align: center;
    padding: 0 15px;

    @media (max-width: 767px) {
      font-size: 24px;
    }
  }

  h3 {
    font-size: 28px;
    margin-bottom: 15px;
    font-weight: bold;

    @media (max-width: 767px) {
      font-size: 20px;
    }
  }

  p {
    font-size: 18px;
    margin-bottom: 20px;

    @media (max-width: 767px) {
      font-size: 14px;
    }
  }
}

.ocf-logos {
  padding: 15px 0;
  background-color: $color-white;

  h2 {
    font-size: 22px;
    margin-bottom: 15px;
    font-weight: bold;
    text-align: center;
    padding: 0 15px;
  }
  img {
    margin: 5px 10px;
    width: 96px;
    height: 96px;

    @media (max-width: 767px) {
      width: 64px;
      height: 64px;
    }
  }
  p { text-align: center; }
}

.ocf-services {
  background-color: $color-blue3;
  color: white;
  padding-bottom: 30px;

  h2 {
    font-size: 22px;
    margin-bottom: 15px;

    @media (max-width: 767px) {
      font-size: 18px;
    }
  }
  h3 {
    font-size: 20px;

    @media (max-width: 767px) {
      font-size: 16px;
    }
  }
  p {
    font-size: 18px;
    margin-bottom: 15px;

    @media (max-width: 767px) {
      font-size: 16px;
    }
  }

  h2, h3 {
    font-weight: bold;
    text-align: center;
    padding: 0 15px;
  }

  & > div > div > div {
    background-color: $color-white;
    color: black;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 5px;
  }
}

.ocf-meeting {
  background-color: $color-blue2;
  color: white;

  padding-bottom: 20px;

  h2 {
    font-weight: bold;
    font-size: 32px;
  }

  a {
    color: #fff;
    text-decoration: underline;

    &:hover {
      color: #eee;
    }
  }

  p {
    font-size: 16px;

    @media (max-width: 767px) {
      font-size: 14px;
    }
  }

  .ocf-button-holder {
    background-color: $color-white;
    color: black;
    margin-top: 20px;
    padding: 15px;

    h2 {
      font-size: 24px;
      font-weight: bold;
      margin-top: 0;
    }

    h2, p {
      margin-bottom: 5px;
    }

    .btn {
      border: solid 1px #bbb;
      background-color: #fcfcfc;
      margin-right: 10px;
      color: black;

      &:hover {
        background-color: $hero-button-color-hover;
      }
    }
  }
}

.ocf-hero {
  background-color: $color-green1;

  p {
    font-size: 20px;

    @media (max-width: 767px) {
      font-size: 16px;
    }
  }

  h1 {
    @media (max-width: 767px) {
      font-size: 20px;
    }

    @media (min-width: 992px) {
      font-size: 40px;
    }

    font-weight: 800;

    /* we want the text to wrap after "Open" */
    @media (min-width: 992px) and (max-width: 1199px) {
    }
  }

  .ocf-penguin-holder {
    padding: 10px;
  }

}

.ocf-footer {
  background-color: #222;
  padding-bottom: 20px;

  a {
    color: #999;
  }

  .ocf-copyright {
    padding: 20px 15px;

    p {
      font-size: 13px;
      margin: 0px;
      line-height: 1.3em;
      margin-bottom: 5px;

      color: #bbb;
    }
  }
}

$lab-color-blue1: #3E454C;
$lab-color-blue2: #2185C5;
$lab-color-blue3: #7ECEFD;
$lab-color-white1: #FFF6E5;
$lab-color-white2: #EDF7F2;
$lab-color-red: #FF7F66;

$lab-color-green1: #225378;
$lab-color-green2: #1695A3;
$lab-color-blue4: #4BB5C1;
$lab-color-blue5: #7FC6BC;

$lab-bg-color: $lab-color-green2;

.ocf-lab2 {
  margin-top: 20px;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  background-color: $lab-bg-color;

  .ocf-footer {
    background-color: $lab-bg-color;
  }

  .container {
    background-color: $lab-color-white2;
  }


  .name-holder {
    @media (min-width: 768px) {
      height: 41px;

      > div {
        padding: 25px 15px;
      }
    }
    .lab-logo {
      padding: 25px 15px;
    }

    .penguin {
      padding: 25px 15px;
      background-image: url("../images/penguin.svg");
      background-repeat: no-repeat;
      background-size: 31px 41px;
      background-position: 15px 19px;

      padding-left: 58px;
      color: #111;
      font-size: 20px;
      font-weight: 600;

      @media (max-width: 991px) {
        font-size: 18px;
      }

      &:hover {
        text-decoration: none;
        color: #444;
      }
    }

    .nav {
      @media (min-width: 768px) {
        text-align: right;
      }
      padding-right: 30px;

      li {
        display: inline;
        font-size: 16px;

        @media (min-width: 768px) {
          margin-left: 20px;

          @media (max-width: 991px) {
            margin-left: 10px;
            font-size: 14px;
          }
        }

        @media (max-width: 767px) {
          margin-right: 10px;
        }

        a {
          color: #111;

          &:hover {
            text-decoration: none;
            color: #444;
          }
        }
      }
    }
  }

  .lab-intro {

    p {
      color: #111;
      font-size: 18px !important;
      text-align: center;
    }

    p.intro {
      padding: 10px;
      max-width: 600px;
      margin: 0 auto;
    }
  }


  h2, h3 {
    color: #333 !important;
    text-align: center;

    margin-left: 10px;
    margin-right: 10px;
    font-weight: 600;
  }
  h2 {
    font-size: 28px;
    margin-top: 0px;
  }
  h3 {
    margin-top: 20px;
    font-size: 36px;
  }

  .ocf-copyright {
    padding: 15px;
    p { color: #555; }
  }

  .learnmore > a {
    margin: 15px 0;
    font-size: 20px;
    padding: 15px;
    background-color: $lab-color-green1;
    color: white;

    &:hover {
      background-color: #EB7F00;
    }
  }

  .ocf-logos img {
    @media (max-width: 991px) {
      width: 64px;
      height: 64px;
    }

    @media (max-width: 1199px) and (min-width: 992px) {
      width: 84px;
      height: 84px;
    }
  }
}
